<div class="container">
  <h2>Issues</h2>

  <button mat-raised-button class="custom-button" (click)="openAddIssueForm()">Agregar reporte de Issue</button>

  <div class="filter-section">
    <mat-form-field appearance="fill">
      <mat-label>Filtrar por Sprint</mat-label>
      <mat-select [(ngModel)]="selectedSprint" (selectionChange)="filterIssues()">
        <mat-option [value]="null">Todos los Sprints</mat-option>
        <mat-option *ngFor="let sprint of sprints" [value]="sprint">{{ sprint }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Filtrar por Prioridad</mat-label>
      <mat-select [(ngModel)]="selectedPriority" (selectionChange)="filterIssues()">
        <mat-option [value]="null">Todas las Prioridades</mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="issue-list">
    <mat-card *ngFor="let issue of filteredIssues" class="issue-card">
      <mat-card-title>{{ issue.title }}</mat-card-title>
      <mat-card-subtitle>Asignado a: {{ issue.assignedTo }}</mat-card-subtitle>
      <mat-card-subtitle>Creado por: {{ issue.madeBy }}</mat-card-subtitle>
      <mat-card-content>
        <p>Estado: {{ issue.status }}</p>
        <p>Prioridad: {{ issue.priority }}</p>
        <p>Sprint Asociado: {{ issue.SprintAssociate }}</p>
        <p>Fecha de creación: {{ issue.createdIn }}</p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-raised-button class="view-more-button" (click)="openViewMore(issue)">View More</button>
      </mat-card-actions>
      <mat-card-actions class="card-actions">
        <button mat-raised-button class="add-history-button" (click)="addHistoryEvent(issue)">Añadir evento al historial</button>
        <button mat-raised-button class="edit-button" (click)="openEditIssueForm(issue)">Editar</button>
        <button mat-raised-button class="delete-button" (click)="deleteIssue(issue)">Eliminar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
