
<mat-toolbar [style.background-color]="'black'" color="primary">
  <img src="https://i.imgur.com/71rP5ni.png" alt="Logo" style="height: 40px; margin-left: 10px;">
  <span class="mat-spacer"></span>

  <span>
    <app-language-switcher/>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      @for(option of options; track option.title) {
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="option.path">
        <mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
        {{ option.title }}
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
