.mat-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: black !important; /* Fondo negro */
  color: white !important; /* Texto blanco */
}

mat-sidenav {
  width: 240px;
  border-right: none;
  padding: 16px 0;
  background-color: orange !important; /* Fondo naranja */
  color: white !important; /* Texto blanco */
}
.content {
  height: calc(100svh - 98px);
  border-radius: 10px;
  padding: 16px;
  max-width: 1520px;
  margin: 0 auto;
  font-size: 16px;
  background: #fff;
}
mat-sidenav-container {
  height: calc(100svh - 65px);
}
.logo {
  top: 0;
  left: 0;
  width: 70px;
  height: auto;
}
